{% extends 'base.html' %}

{% block show_page_navigation %}
  <li class="breadcrumb-item">Serd Mails</li>
  <li class="breadcrumb-item active">send_mail</li>
{% endblock %}

{% block main_content %}
  <div class="row">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-body mt-3">
          <div class="card-body mt-3">
            <div class="pt-2 pb-2">
              <h5 class="card-title text-center pb-0 fs-4">Send A Mail</h5>
              <p class="text-center small">Send mail using your gmail account</p>
            </div>
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endfor %}
              </ul>
            {% endif %}

            <form action="{% url 'send_mail' %}" method="POST" class="row g-3 needs-validation" novalidate>
              {% csrf_token %}

              <div class="col-12">
                <label for="toId" class="form-label">To</label>
                <input type="text" name="to" class="form-control" id="toId" required />
                <div class="invalid-feedback">Please, enter your last name!</div>
              </div>

              <div class="col-12">
                <label for="subjectId" class="form-label">Subject</label>
                <input type="text" name="subject" class="form-control" id="subjectId" required />
                <div class="invalid-feedback">Please, enter Subject!</div>
              </div>

              <div class="col-12">
                <label for="messageId" class="form-label">Message</label>
                <textarea name="message" class="form-control" rows="3" id="messageId" required> </textarea>
                <div class="invalid-feedback">Please, enter Message!</div>
              </div>

              <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">Send</button>
              </div>
            </form>
            <!-- End General Form Elements -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
